<div class="row">
    <div class="col-md-12">
        <h2>{{data.employee.dataValues.firstName}} {{ data.employee.dataValues.lastName}} - Employee: {{ data.employee.dataValues.employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
            <input type="hidden" name="employeeNum" value="{{data.employee.dataValues.employeeNum}}">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" value="{{data.employee.dataValues.firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" value="{{data.employee.dataValues.lastName}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="email" value="{{data.employee.dataValues.email}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SSN">Social Security Num:</label>
                            <input class="form-control" id="SSN" name="SSN" type="text" value="{{data.employee.dataValues.SSN}}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{data.employee.dataValues.addressStreet}}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressCity">Address (City):</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{data.employee.dataValues.addressCity}}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State):</label>
                            <input class="form-control" id="addressState" name="addressState" type="text" value="{{data.employee.dataValues.addressState}}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code):</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{data.employee.dataValues.addressPostal}}"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Company Information</legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isManager">Manager:</label>
                            <input class="form-control" id="isManager" name="isManager" type="checkbox" value="false" {{#if data.employee.dataValues.isManager}}value="true" checked{{/if}}/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeManagerNum">Employee's Manager Number:</label>
                            <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{data.employee.dataValues.employeeManagerNum}}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status:</label> 
                            <br>
                            <label for="fullTime" class="checkbox-inline">
                                <input type="radio" name="status" id="statusFT" value="Full Time" {{#equal data.employee.dataValues.status "Full Time" }}checked{{/equal}}>
                                Full Time
                            </label>
                            <label for="partTime" class="checkbox-inline">
                                <input type="radio" name="status" id="statusPT" value="Part Time" {{#equal data.employee.dataValues.status "Part Time" }}checked{{/equal}}>
                                Part Time
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="department ">Department</label>
                                {{#if data.departments}}
                                    <select class="form-control" name="department" id="department">
                                        <option value="">Select Department</option>
                                        {{#each data.departments}}
                                            <option value="{{this.dataValues.departmentId}}" {{#if selected}} selected {{/if}} >{{this.dataValues.departmentName}} </option>
                                        {{/each}}
                                    </select>
                                {{else}}
                                    <div>No Departments</div>
                                {{/if}}
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
    </div>
    
</div>